* {
	background: rgb(247,202,201);
    background: radial-gradient(circle, rgba(247,202,201,1) 0%, rgba(145,168,208,1) 100%);
    font-family: Verdana,Geneva,sans-serif; 
}

#pre-footer {
    margin-top: 25px;
}

#footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}